# ER-SAM Test vom 15.12.2023

#### Bitte schreiben Sie Ihren Namen und Ihre Matrikelnummer in die folgende Zelle:

In [1]:
# Name: Lisa Nitsche
# Matriculation number: 401359

#### Durchführung
Der Python-Teil des Tests beinhaltet 20 Punkte.

Sie erhalten zusätzlich Zeit, um die Excel und Python Aufgaben herunterzuladen, zu öffnen und schließlich wieder bei ISIS hochzuladen. 

Bitte bearbeiten Sie alle Aufgaben in den dafür vorgesehenen Zellen bzw. fügen Sie wenn nötig zusätzliche Zellen an den entsprechenden Stellen ein. Lassen Sie die Aufgabenstellungen bitte so stehen wie sie sind. 

In Python und Pandas gibt es häufig unterschiedliche Wege eine Aufgabe zu lösen. Sie sind daher in der Wahl des Lösungswegs frei. 

Nachdem Sie alle Fragen beantwortet haben, vergewissern Sie sich bitte, dass alle Outputs sichtbar sind bzw. alle Zellen ausgeführt wurden. Dann nutzen Sie bitte den Download Button oben um das Notebook herunterzuladen und laden Sie die .ipynb Datei so wie sie ist auf ISIS hoch. Danach würden wir Sie bitten die Datei von Ihren privaten PCs zu löschen. 

Viel Erfolg!

In [1]:
# Gegebenenfalls müssen Sie noch pandas etc. installieren... 
# !pip install pandas
# !pip install geopandas
# !pip install matplotlib
# !pip install openpyxl
# Importieren Sie pandas und matplotlib
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

### Aufgabe 1: Relevante Daten aus einem Datensatz auslesen und darstellen. [12P]

##### Laden Sie das "Anlagenregister" ("2018_09_Veroeff_RegDaten.csv" im "input" Ordner) in einen Pandas Dataframe

In [2]:
# Datenimport - nicht abwandeln
df = pd.read_excel('input/2018_11_Veroeff_RegDaten.xlsx')

##### a) [3P] Ermitteln Sie die Summe, den Mittelwert und das Maximum der installierten Leistung für jeden Energieträger.
Spalten: '4.1 Energieträger', '4.2 Installierte Leistung [kW]'

In [4]:
# Summe
df.groupby('4.1 Energieträger')['4.2 Installierte Leistung [kW]'].sum()

4.1 Energieträger
Biomasse         3.326356e+06
Deponiegas       2.302803e+04
Freifläche PV    1.879727e+06
Geothermie       1.333950e+04
Grubengas        6.015300e+04
Klärgas          4.997480e+04
Speicher         1.037178e+04
Wasserkraft      2.746664e+05
Wind Land        3.084679e+07
Wind See         6.339068e+06
Name: 4.2 Installierte Leistung [kW], dtype: float64

In [5]:
# Mittelwert
df.groupby('4.1 Energieträger')['4.2 Installierte Leistung [kW]'].mean()

4.1 Energieträger
Biomasse          662.225049
Deponiegas        479.750583
Freifläche PV    2195.942894
Geothermie       3334.875000
Grubengas        2615.347826
Klärgas           434.563478
Speicher            6.568576
Wasserkraft       233.559905
Wind Land        2509.296905
Wind See         4999.264984
Name: 4.2 Installierte Leistung [kW], dtype: float64

In [6]:
# Maximum
df.groupby('4.1 Energieträger')['4.2 Installierte Leistung [kW]'].max()

4.1 Energieträger
Biomasse         22000.0
Deponiegas        3463.0
Freifläche PV    10000.0
Geothermie        5500.0
Grubengas         6790.0
Klärgas           8877.0
Speicher           120.0
Wasserkraft      12600.0
Wind Land         8000.0
Wind See          8300.0
Name: 4.2 Installierte Leistung [kW], dtype: float64

##### b) [3P] Ermitteln Sie die Summe, den Mittelwert und das Maximum der installierten Leistung für jedes Bundesland.
Spalten: '4.11 Bundesland', '4.2 Installierte Leistung [kW]'

In [7]:
# Summe
df.groupby('4.11 Bundesland')['4.2 Installierte Leistung [kW]'].sum()

4.11 Bundesland
Ausschließliche Wirtschaftszone (Wind See)    6125298.000
Baden-Württemberg                             1699925.706
Bayern                                        3321343.051
Berlin                                          13922.255
Brandenburg                                   3968717.880
Bremen                                         120525.540
Hamburg                                         97050.000
Hessen                                        1814921.620
Mecklenburg-Vorpommern                        2304371.420
Niedersachsen                                 7363749.263
Nordrhein-Westfalen                           3919106.164
Rheinland-Pfalz                               2572833.425
Saarland                                       385242.615
Sachsen                                        619434.470
Sachsen-Anhalt                                2272294.510
Schleswig-Holstein                            5105215.010
Thüringen                                     1066390.021
Name: 4.2 Installierte Leistung [kW], dtype: float64

In [8]:
# Mittelwert
df.groupby('4.11 Bundesland')['4.2 Installierte Leistung [kW]'].mean()

4.11 Bundesland
Ausschließliche Wirtschaftszone (Wind See)    5004.328431
Baden-Württemberg                             1071.832097
Bayern                                        1041.173370
Berlin                                         272.985392
Brandenburg                                   2318.176332
Bremen                                        2739.216818
Hamburg                                       1427.205882
Hessen                                        1753.547459
Mecklenburg-Vorpommern                        2281.555861
Niedersachsen                                 1860.002340
Nordrhein-Westfalen                           1584.117285
Rheinland-Pfalz                               2152.998682
Saarland                                      2334.803727
Sachsen                                       1219.359193
Sachsen-Anhalt                                2176.527308
Schleswig-Holstein                            2001.260294
Thüringen                                     1894.120819
Name: 4.2 Installierte Leistung [kW], dtype: float64

In [9]:
# Maximum
df.groupby('4.11 Bundesland')['4.2 Installierte Leistung [kW]'].max()

4.11 Bundesland
Ausschließliche Wirtschaftszone (Wind See)     8300.00
Baden-Württemberg                              8100.00
Bayern                                        12600.00
Berlin                                         3370.00
Brandenburg                                   10000.00
Bremen                                         8000.00
Hamburg                                        3370.00
Hessen                                         6233.37
Mecklenburg-Vorpommern                         9999.51
Niedersachsen                                 22000.00
Nordrhein-Westfalen                            9180.00
Rheinland-Pfalz                                9974.64
Saarland                                       4998.60
Sachsen                                        9998.00
Sachsen-Anhalt                                20000.00
Schleswig-Holstein                             9974.64
Thüringen                                      7250.10
Name: 4.2 Installierte Leistung [kW], dtype: float64

##### c) [6P] Ermitteln Sie den prozentualen Anteil der Fläche für PV-Anlagen, die auf Ackerland stehen. Unterscheiden Sie hierbei nach Bundesländern. Stellen Sie Ihre Ergebnisse (Anteil Ackerfläche PV / Fläche PV pro Bundesland) in einem Balkendiagramm dar (plot.bar()). 
Die folgenden Spalten sind für die Aufgabe relevant:
- '9.2 Wie viel Fläche wird durch die PV-Freiflächenanlage in Anspruch genommen? [ha] '
- '9.3 Wie viel der PV-Freifläche ist davon Ackerland? [ha] '
- '4.11 Bundesland'

In [30]:
# PV-Fläche pro Bundesland 
df.groupby('4.11 Bundesland')['9.2 Wie viel Fläche wird durch die PV-Freiflächenanlage in Anspruch genommen? [ha] ']

In [32]:
# PV-Ackerland pro Bundesland 
df.groupby('4.11 Bundesland')['9.3 Wie viel der PV-Freifläche ist davon Ackerland? [ha] ']

In [12]:
# prozentualer Anteil
df_anteilacker =

In [13]:
# Balkendiagramm
df_anteilacker.plot.bar()

### Aufgabe 2: Zeitreihendaten umwandeln und darstellen. [4P]

##### Laden Sie das Lastprofil ("Messwertexport_2015.csv" im 'input' Ordner) in einen Pandas Dataframe. Nutzen Sie dafür den vorgegebenen Code.

In [10]:
# Datenimport - nicht abwandeln
ts_df = pd.read_csv('input/Messwertexport_2015.csv', sep=';', 
                      decimal=',',parse_dates={'datetime':['[kW]','Attribut']})
ts_df.set_index(pd.DatetimeIndex(ts_df.datetime), inplace=True)
ts_df.drop(columns=['datetime'], inplace=True)

##### a) [1P] Die Daten liegen in viertelstündlichen Werten vor. Wandeln Sie sie in stündliche Werte mithilfe der resample Funktion um, wobei Sie die Werte aufsummieren. Speichern sie die neue Zeitreihe in einer Variable.

In [12]:
ts_df_std = ts_df.resample('H')

##### b) [1P] Stellen Sie die Ergebnisse in einem Diagramm dar. (x-Achse = DatetimeIndex, y-Achse = Messwert in kW)

In [13]:
ts_df_std.plot.bar(ylabel='Messwert in kW', xlabel='DatetimeIndex')

AttributeError: 'DatetimeIndexResampler' object has no attribute 'plot'

##### c) [1P] Wandeln Sie nun die vorher erzeugten Stundenwerte in Tageswerte um. Verwenden Sie dabei das Maximum.

In [ ]:
ts_df_std.resample('D')

##### d) [1P] Stellen Sie nun auch die maximalen Tageswerte in einem Diagramm dar.

In [ ]:
ts_df_std.resample('D').max.plot()

#### Aufgabe 3: Geodaten und Koordinatensysteme [4P]

##### Laden Sie nun den Geodatensatz mit den NUTS-Regionen Europas ('NUTS_RG_01M_2016_3035_LEVL_3.geojson' im 'input' Ordner)

In [15]:
# Datenimport - bitte nicht abwandeln
gdf = gpd.read_file('input/NUTS_RG_01M_2016_3035_LEVL_3.geojson')

##### a) [1P] In welchem Korrdinatensystem liegen die Daten vor?

In [16]:
gdf.crs

<Projected CRS: EPSG:3035>
Name: ETRS89-extended / LAEA Europe
Axis Info [cartesian]:
- Y[north]: Northing (metre)
- X[east]: Easting (metre)
Area of Use:
- name: Europe - European Union (EU) countries and candidates. Europe - onshore and offshore: Albania; Andorra; Austria; Belgium; Bosnia and Herzegovina; Bulgaria; Croatia; Cyprus; Czechia; Denmark; Estonia; Faroe Islands; Finland; France; Germany; Gibraltar; Greece; Hungary; Iceland; Ireland; Italy; Kosovo; Latvia; Liechtenstein; Lithuania; Luxembourg; Malta; Monaco; Montenegro; Netherlands; North Macedonia; Norway including Svalbard and Jan Mayen; Poland; Portugal including Madeira and Azores; Romania; San Marino; Serbia; Slovakia; Slovenia; Spain including Canary Islands; Sweden; Switzerland; Türkiye (Turkey); United Kingdom (UK) including Channel Islands and Isle of Man; Vatican City State.
- bounds: (-35.58, 24.6, 44.83, 84.73)
Coordinate Operation:
- name: Europe Equal Area 2001
- method: Lambert Azimuthal Equal Area
Datum: European Terrestrial Reference System 1989 ensemble
- Ellipsoid: GRS 1980
- Prime Meridian: Greenwich

##### b) [1P] Wandeln Sie die Koordinaten in Längen- und Breitengrade um (EPSG:4326) und speichern Sie das Ergebnis in einer Variable.

In [17]:
gdf_neu = gdf.to_crs(4326).crs

##### c) [1P] Filtern Sie die Daten nach Italien und Österreich (IT, AT)

In [23]:
gdf

,id,CNTR_CODE,NUTS_NAME,LEVL_CODE,FID,NUTS_ID,geometry
0,HR043,HR,Krapinsko-zagorska županija,3,HR043,HR043,"POLYGON ((4804562.000 2571297.000, 4803972.000..."
1,AT314,AT,Steyr-Kirchdorf,3,AT314,AT314,"POLYGON ((4654777.000 2787028.000, 4653848.000..."
2,AT315,AT,Traunviertel,3,AT315,AT315,"POLYGON ((4600507.000 2785382.000, 4600808.000..."
3,DE600,DE,Hamburg,3,DE600,DE600,"MULTIPOLYGON (((4317388.000 3393935.000, 43177..."
4,DE711,DE,"Darmstadt, Kreisfreie Stadt",3,DE711,DE711,"POLYGON ((4229546.000 2983212.000, 4230168.000..."
...,...,...,...,...,...,...,...
1517,UKN16,UK,Fermanagh and Omagh,3,UKN16,UKN16,"POLYGON ((3242094.000 3646131.000, 3242086.000..."
1518,UKJ44,UK,East Kent,3,UKJ44,UKJ44,"POLYGON ((3679891.000 3130408.000, 3680192.000..."
1519,UKJ45,UK,Mid Kent,3,UKJ45,UKJ45,"POLYGON ((3668064.000 3177912.000, 3668350.000..."
1520,UKL15,UK,Central Valleys,3,UKL15,UKL15,"POLYGON ((3406868.000 3270608.000, 3406592.000..."
1521,UKK43,UK,Devon CC,3,UKK43,UKK43,"MULTIPOLYGON (((3369157.000 3214448.000, 33681..."

In [34]:
gdf[gdf.CNTR_CODE == 'IT'] | gdf[gdf.CNTR_CODE == 'AT']

/tmp/ipykernel_78/1240583692.py:1: FutureWarning: '|' operator will be deprecated. Use the 'union' method instead.
  gdf[gdf.CNTR_CODE == 'IT'] | gdf[gdf.CNTR_CODE == 'AT']
/srv/conda/envs/notebook/lib/python3.10/site-packages/geopandas/geodataframe.py:2089: UserWarning: The indices of the two GeoSeries are different.
  return self.geometry.union(other)

1       None
2       None
26      None
27      None
28      None
        ...
1180    None
1181    None
1183    None
1184    None
1185    None
Length: 145, dtype: geometry

##### d) [1P] Zeigen Sie die Geodaten für die beiden Länder als Karte an.

In [25]:
gdf_IO = gdf[gdf.CNTR_CODE == 'IT'] | gdf[gdf.CNTR_CODE == 'AT']
gdf_IO.plot.area()

/tmp/ipykernel_78/2997217925.py:1: FutureWarning: '|' operator will be deprecated. Use the 'union' method instead.
  gdf_IO = gdf[gdf.CNTR_CODE == 'IT'] | gdf[gdf.CNTR_CODE == 'AT']
/srv/conda/envs/notebook/lib/python3.10/site-packages/geopandas/geodataframe.py:2089: UserWarning: The indices of the two GeoSeries are different.
  return self.geometry.union(other)

AttributeError: 'function' object has no attribute 'area'

### Bitte nutzen Sie den Binder Download Button oben um das Jupyter Notebook (.ipynb Datei) zu speichern und laden Sie es anschließend bei ISIS hoch