
## Quick note about Jupyter cells

Press **`<Shift> + <Enter>`** to run a cell.

When you are editing a cell, you need to re-run the cell by pressing **`<Shift> + <Enter>`**. This will allow changes you made to be available to other cells.

Use **`<Enter>`** to make new lines inside a cell you are editing.

##### Code cells (choose cell type using the tab below the menu option `Help` )

To edit an existing **code** cell, **click** on it.

##### Markdown cells

To edit an existing **markdown** cell, **double-click** on it.

<hr>

## Common Jupyter operations

Jupyter provides a row of menu options (`File`, `Edit`, `View`, `Insert`, ...) and a row of tool bar icons (disk, plus sign, scissors, 2 files, clipboard and file, up arrow, ...).

##### Inserting and removing cells

- Use the "plus sign" icon to insert a cell below the currently selected cell **or** press B
- Use "Insert" -> "Insert Cell Above" from the menu to insert above **or** press A
- press DD to remove a cell

##### Clear the output of all cells

- Use "Kernel" -> "Restart" from the menu to restart the kernel
    - click on "clear all outputs & restart" to have all the output cleared

## [Markdown Intro](https://www.markdownguide.org/basic-syntax/)

An h1 header
============

An h2 header
------------

### An h3 header ###

Now a nested list:

 1. First, get these ingredients:
      * carrots
      * celery
      * lentils

 2. Boil some water.
        ....

Notice again how text always lines up on 4-space indents (including
that last line which continues item 3 above).

Here's a link to [a website](https://www.tu-berlin.de), and to a [section heading in the current
doc](#an-h2-header).

Math should get its own line:
$$I = \int \rho R^{2} dV$$

## Python objects, basic types, and variables

Everything in Python is an **object** and every object in Python has a **type**. Some of the basic types include:

- **`int`** (integer; a whole number with no decimal place)
  - `10`
  - `-3`
- **`float`** (float; a number that has a decimal place)
  - `7.41`
  - `-0.006`
- **`str`** (string; a sequence of characters enclosed in single quotes, double quotes, or triple quotes)
  - `'this is a string using single quotes'`
  - `"this is a string using double quotes"`
  - `'''this is a triple quoted string using single quotes'''`
  - `"""this is a triple quoted string using double quotes"""`
- **`bool`** (boolean; a binary value that is either true or false)
  - `True`
  - `False`
- **`NoneType`** (a special type representing the absence of a value)
  - `None`

In Python, a **variable** is a name you specify in your code that maps to a particular **object**, object **instance**, or value.

By defining variables, we can refer to things by names that make sense to us. Names for variables can **only** contain letters, underscores (`_`), or numbers (no spaces, dashes, or other characters). Variable names **must** start with a letter or underscore.

<hr>

# 1. Assigning and printing values

##### 1.1 Assign some float and int values to different variables

In [4]:
x = 1.2
y = 2

##### 1.2 Use the print() function to print variables. What is the difference between simply expressing a variable and printing it?
**e.g.:** 
        `num1` **or** `print(num1)`

In [5]:
print(x)
print(y)

1.2
2

##### 1.3 Determine object types by using the type() function

In [6]:
type(x)

float

In [7]:
type(y)

int

## Basic operators

In Python, there are different types of **operators** (special symbols) that operate on different values. Some of the basic operators include:

- arithmetic operators
  - **`+`** (addition)
  - **`-`** (subtraction)
  - **`*`** (multiplication)
  - **`/`** (division)
  - __`**`__ (exponent)
  - **`%`** (modulo)
  - __`//`__ (floor division)
- assignment operators
  - **`=`** (assign a value)
  - **`+=`** (add and re-assign; increment)
  - **`-=`** (subtract and re-assign; decrement)
  - **`*=`** (multiply and re-assign)
- comparison operators (return either `True` or `False`)
  - **`==`** (equal to)
  - **`!=`** (not equal to)
  - **`<`** (less than)
  - **`<=`** (less than or equal to)
  - **`>`** (greater than)
  - **`>=`** (greater than or equal to)

# 2. Using the basic operators

## 2.1 Arithmetic operators

##### Addition of variables (you can use your variables from task 1.1)

In [9]:
x + y

3.2

#### Subtraction

In [11]:
x - y

-0.8

#### Multiplication

In [12]:
x * y

2.4

#### Division

In [13]:
x / y

0.6

#### Make yourself familiar with the exponent operator

In [14]:
x ** y

1.44

#### What does the modulo operator do?

In [15]:
10 % 3

1

In [16]:
9 % 3

0

#### What does the floor division operator do?

In [18]:
10//3

3

## 2.2 Assignment operators

#### Increment an existing variable

In [21]:
x += 1
x

4.2

#### Decrement

In [22]:
x -= 1
x

3.2

#### Multiply and re-assign

In [23]:
y *= 2
y

4

#### Divide and re-assign

In [25]:
y /= 2
y  # Notice that from division we get a float

1.0

#### Try the other operators

In [28]:
x = 10
x %= 3
x

1

#### Create an mathematical expression with existing variables and assign its value to a new variable

In [29]:
z = x + y
z

2.0

### Be careful, floating point operations are not always accurate

In [54]:
0.1 + 0.2 == 0.3

False

In [56]:
format(0.1, '.17f')

'0.10000000000000001'

In [58]:
format(0.3, '.17f')

'0.29999999999999999'

In [ ]:
# 0.1 and 0.3 represented in binary are recurring numbers (e.g. 0.1 = 0.00011001100110011...)

In [47]:
round(3.5)

4

In [48]:
round(4.5)  # Half-round to even numver rule in Python (a.k.a Banker's rounding)

4

## 2.3 Comparison operators

#### Check if two expressions are equal to each other

In [59]:
x == y  # Do x and y have the same value

True

In [60]:
x is y  # Are x and y the same object

False

In [61]:
id(x), id(y)

(4445595952, 4774752848)

In [62]:
print(f'{x=}, {y=}')

x=1, y=1.0

#### Check if two expressions are not equal to each other

In [63]:
x != y

False

In [64]:
x is not y  # Please remember this difference

True

#### Is one expression's value less than the other one's?

In [65]:
x < y

False

#### Is one expression's value greater than the other one's?

In [66]:
x > y

False

#### Is one expression's value less than or equal to the other one's?

In [67]:
x <= y

True

#### Is one expression's value greater than or equal to the other one's?

In [68]:
x >= y

True

#### Determine if two expressions of your choice are True or False

In [69]:
x is not y and x == y

True

In [70]:
x is y or x == y

True

In [71]:
x is y and x == y

False

# Python "if statements"

Conditional expressions can be used with these two **conditional statements**.

The **if statement** allows you to test a condition and perform some actions if the condition evaluates to `True`. You can also provide `elif` and/or `else` clauses to an if statement to take alternative actions if the condition evaluates to `False`.

practice:

**leap year judge**

`if-else` + `print format`

* input: an int in \[1000, 9999\]
* process: judge
* output: if input year is leap year in format `xx year is a leap year`/ `xx year is not a leap year`

In [72]:
year = int(input('pls input a year from 1000 to 9999: '))

if year % 400 == 0 or (year % 100 != 0) and (year % 4 == 0):
    print(f'{year} is a leap year')
else:
    print(f'{year} is not a leap year')

1000 is not a leap year

### Grading guidance
TU uses the following grading system to make grades for students. Pls write a program to complete the grading task for a single student.

X < 50 = 5.0
50 < X < 55 = 4.0
55 < X < 60 = 3.7
60 < X < 65 = 3.3
65 < X < 70 = 3.0
70 < X < 75 = 2.7
75 < X < 80 = 2.3
80 < X < 85 = 2.0
85 < X < 90 = 1.7
90 < X < 95 = 1.3
95 < X      = 1.0

* input: a score (0~100, integer)
* process: transfer the grade to German grade
* output: a German garde with the format in the table

In [73]:
score = int(input('Punkte:'))
if score < 50:
    grade = '5,0'
elif score < 55:
    grade = '4,0'
elif score < 60:
    grade = '3,7'
elif score < 65:
    grade = '3,3'
elif score < 70:
    grade = '3,0'
elif score < 75:
    grade = '2,7'
elif score < 80:
    grade = '2,3'
elif score < 85:
    grade = '2,0'
elif score < 90:
    grade = '1,7'
elif score < 95:
    grade = '1,3'
else:
    grade = '1,0'

print(grade)

5,0

### Guessing number
A classic little game which asks the player to guess a number randomly generated by the computer.
Any guess will return a feedback on whether the guessed number is larger or smaller.

* input: number range: 1~10
* process: ...
* output: `too large`/`too small`/`you guessed correctly`

In [74]:
import random
correct_number = random.randint(1,10)

your_number = int(input())

if your_number > correct_number:
    print("too large")
elif your_number == correct_number:
    print("you guessed correctly")
else :
    print("too small")
print(f'The correct number is: {correct_number}')

too large
The correct number is: 4

### 2.4 Temperature unit transformator
Program to transform temperature units (℃, ℉) using following formulas:

$$ C=(F - 32) \div 1.8 $$

$$ F = C \times 1.8  + 32 $$
#### 2.4.1 from Celsius to Fahrenheit  (℃ -> ℉)
* input: a Celsius value
* process: ...
* output: the corresponding Faharenheit value

In [75]:
temp_c = float(input('Temperatur in Celcius:'))

temp_f = temp_c * 1.8 + 32

print(f'Temperatur in Celcius: {temp_c:.1f}')
print(f'Temperatur in Fahrenheit: {temp_f:.1f}')
# Using :.1f formats the output to display only one decimal digit

Temperatur in Celcius: 12.0
Temperatur in Fahrenheit: 53.6

#### 2.4.2 from Fahrenheit to Celsius (℉ -> ℃)
* input: a Faharenheit value
* process: ...
* output: the corresponding Celsius value

In [77]:
temp_f = float(input('Temperatur in Fahrenheit:'))

temp_c = (temp_f - 32) / 1.8

print(f'Temperatur in Fahrenheit: {temp_f:.1f}')
print(f'Temperatur in Celcius: {temp_c:.1f}')

Temperatur in Fahrenheit: 12.0
Temperatur in Celcius: -11.1

## 2.5 Exercise

### Design a unit transformator
Select one of the follwing units pair to build a unit transformator:

1. Joule -> kWh
2. kilopascal -> bar
3. Kelvin -> °Celcius

Your program should achieve the transformation in both directions (e.g. kPa<->bar).

* input: ..
* process: ..
* output: print both units in the result like: `1 kPa = 0.01 bar`

In [82]:
joule = int(input())

kWh = joule * 0.000000278
print(f'{joule=:.1f}')
print(f'{kWh=:.5f}')

joule=5000.0
kWh=0.00139

In [81]:
kPa = int(input())

bar = kPa * 0.01
print(f'{kPa=:.1f}')
print(f'{bar=:.3f}')

kPa=1000.0
bar=10.000

In [85]:
kelvin = int(input())

celcius = kelvin - 273.15
print(f'{kelvin=:.1f}')
print(f'{celcius=:.1f}')

kelvin=20.0
celcius=-253.1

# 3. Functions
* basic structure

In [87]:
def function_name(arguments):
    """
    description
    """

    return arguments

function_name(1)

1

In [89]:
def f(a, b=1, c=2):
    return b, c

f(1)

(1, 2)

In [90]:
f(0, 'a', 'b')

('a', 'b')

In [91]:
f(0, c=-2, b=-1)

(-1, -2)

In [92]:
def f1(a):
    return -a

def f(a):
    b = a*2
    return f1(b)

f(5)

-10

### convert previous practice into function

In [93]:
def grade(score):
    """
    Pass a score to return the grade
    :param score:
    :return: grade:
    """
    if score < 50:
        grade = '5,0'
    elif score < 55:
        grade = '4,0'
    elif score < 60:
        grade = '3,7'
    elif score < 65:
        grade = '3,3'
    elif score < 70:
        grade = '3,0'
    elif score < 75:
        grade = '2,7'
    elif score < 80:
        grade = '2,3'
    elif score < 85:
        grade = '2,0'
    elif score < 90:
        grade = '1,7'
    elif score < 95:
        grade = '1,3'
    else:
        grade = '1,0'

    return grade

print(grade(100))
print(grade(50))

1,0
4,0

In [94]:
def is_leap_year(year):
    """
    Check whether a year is a leap year or not
    :param year:
    :return bool:
    """
    if year % 400 == 0 or (year % 100 != 0) and (year % 4 == 0):
        print(f'{year} is a leap year')
        return True
    else:
        print(f'{year} is not a leap year')
        return False

print(is_leap_year(100))
print(is_leap_year(400))
print(is_leap_year(2000))
print(is_leap_year(2004))

100 is not a leap year
False
400 is a leap year
True
2000 is a leap year
True
2004 is a leap year
True

# 4. Basic containers

> Note: **mutable** objects can be modified after creation and **immutable** objects cannot.

Containers are objects that can be used to group other objects together. The basic container types include:

- **`str`** (string: immutable; indexed by integers; items are stored in the order they were added)
- **`list`** (list: mutable; indexed by integers; items are stored in the order they were added)
- **`dict`** (dictionary: mutable; key-value pairs are indexed by immutable keys; items are NOT stored in the order they were added)
- **`set`** (set: mutable; unordered collections of unique elements; items are NOT stored in the order they were added)

When defining lists and sets use commas (,) to separate the individual items. When defining dicts, use a colon (:) to separate keys from values and commas (,) to separate the key-value pairs.

Strings and lists are both **sequence types** that can use the `+`, `*`, `+=`, and `*=` operators.

## 4.1 Assigning

#### Assign some containers to different variables (one list and one dictionary)

In [95]:
year_list = [2000, 2010, 2020, 2030, 2040]
year_list

[2000, 2010, 2020, 2030, 2040]

In [96]:
score_dict = {'A': 100, 'B': 20, 'C': 63}
score_dict

{'A': 100, 'B': 20, 'C': 63}

## Accessing data in containers

For lists, strings, sets and dicts, we can use **subscript notation** (square brackets) to access data at an index.

- lists, strings and sets are indexed by integers, **starting at 0** for first item
  - these sequence types also support accesing a range of items, known as **slicing**
  - use **negative indexing** to start at the back of the sequence
- dicts are indexed by their keys

In [99]:
year_list[0]

2000

In [100]:
year_list[-1]

2040

In [107]:
year_list[0:5]

[2000, 2010, 2020, 2030, 2040]

In [108]:
year_list[0:5:2]  # every 2nd element

[2000, 2020, 2040]

In [113]:
year_list[::-1]  # in reverse

[2040, 2030, 2020, 2010, 2000]

In [115]:
score_dict['A']

100

In [116]:
score_dict['D']  # key error

KeyError: 'D'

In [117]:
score_dict.get('A')

100

In [118]:
score_dict.get('D')  # no key error

#### Add and re-assign some objects to your list

In [130]:
year_list[0] = 1999
year_list

[1999, 2010, 2020, 2030, 2040]

In [132]:
year_list.append(2050)
year_list

[1999, 2010, 2020, 2030, 2040, 2050]

#### Multiply your list

In [133]:
year_list * 2

[1999, 2010, 2020, 2030, 2040, 2050, 1999, 2010, 2020, 2030, 2040, 2050]

In [134]:
'hello' * 3

'hellohellohello'

#### Try to multiply your dictionary. Does ist work?

In [135]:
score_dict * 3
# repeating a dictionary does not make sense
# as it is used for look-up and every key should be unique.

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

#### What's a set?

In [124]:
test_set = {1, 2, 3, 4, 5, 5}
test_set  # Unique elements only! No fixed order!

{1, 2, 3, 4, 5}

In [136]:
test_set * 3  # same as with dict!

TypeError: unsupported operand type(s) for *: 'set' and 'int'

# 5. Python basic iterations

## Python "for loops"

It is easy to **iterate** over a collection of items using a **for loop**. The strings and dictionaries we defined are all **iterable** containers.

The for loop will go through the specified container, one item at a time, and provide a temporary variable for the current item. You can use this temporary variable like a normal variable.

#### Print all the items of your list from task 4.1 by using a for loop

In [141]:
for year in year_list:
    print(year)

1999
2010
2020
2030
2040
2050

#### Use a for loop to run one of the functions you created one a list of inputs

In [142]:
for year in year_list:
    is_leap_year(year)  # is_leap_year() was defined in section 3!

1999 is not a leap year
2010 is not a leap year
2020 is a leap year
2030 is not a leap year
2040 is a leap year
2050 is not a leap year

#### Dictionaries can also be looped

In [145]:
for key in score_dict:
    print(key, score_dict[key])

A 100
B 20
C 63

In [148]:
for key in score_dict:
    print(key, grade(score_dict[key]))  # grade() was defined in section 3!

A 1,0
B 5,0
C 3,3

#### How do you create a loop when your are not iterating a container/iterable?

In [150]:
for i in range(5):
    print(i)

0
1
2
3
4

In [151]:
for i in range(2, 5):
    print(i)

2
3
4

In [154]:
for i in range(5, -1, -1): # going backwards
    print(i)

5
4
3
2
1
0

## Python "while loops"


The **while loop** will keep looping until its conditional expression evaluates to `False`.

> Note: It is possible to "loop forever" when using a while loop with a conditional expression that never evaluates to `False`.
>
> Note: Since the **for loop** will iterate over a container of items until there are no more, there is no need to specify a "stop looping" condition.

#### Create your own examples of using if statements and while loops

In [155]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

### break and continue

To exit a loop you can use the break keayword.
If you wnat to end the current iteration and go straight to the next one, you can use the continue keyword.

In [156]:
for i in range(10):
    if i == 5:  # skip 5
        continue
    if i == 8:  # end at 8
        break
    print(i)

0
1
2
3
4
6
7

### Nested loops:

If you put a loop inside another loop, for each iteration in the outer loop, you run through all iterations of the inner (nested) loop.

for i in range(x):
    for j in range(y):
        do_something()

##### How many times would this print 'Hello world'?

for i in range(3):
    for j in range(5):
        print(f'Hello world')

In [157]:
for i in range(2):
    for j in range(3):
        print(f'Hello world\t {i=}, {j=}')

Hello world	 i=0, j=0
Hello world	 i=0, j=1
Hello world	 i=0, j=2
Hello world	 i=1, j=0
Hello world	 i=1, j=1
Hello world	 i=1, j=2

#### Practice nested for loops by printing out this 3 x 3 matrix

1 2 3
4 5 6
7 8 9

In [158]:
start = 1
for row in range(1, 4):
    for col in range(1, 4):
        print(start, end=" ")
        start += 1
    print()

1 2 3
4 5 6
7 8 9

#### Can you expand the logic to an n x n matrix?

In [159]:
n = 6
for j in range(1,n+1):
    for i in range(1,n+1):
        print(i+(n*j-n),end=" ")
    print()

1 2 3 4 5 6
7 8 9 10 11 12
13 14 15 16 17 18
19 20 21 22 23 24
25 26 27 28 29 30
31 32 33 34 35 36

#### What about n x m?

In [160]:
...

Ellipsis